<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Meadowlark Travel</title>
</head>
<body>
<header>
  <img src="/img/logo.png" alt="Meadowlark Travel logo">
</header>
  {{{body}}}
<!-- 이 body 부분에 각 핸들바 파일 내용이 들어간다 -->
</body>
</html>